ZEROSHOT_CLASSIFICATION_TOKEN_HF=
s3_bucket_name_parsed_doc=
s3_bucket_name_raw_doc=
supabase_url=
supabase_key=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
openai_api_key=s
qdrant_url=http://localhost:6333
collection_name=corpus

# add this policy to the IAM user to access the S3 buckets
# {
# 	"Version": "2012-10-17",
# 	"Statement": [
# 		{
# 			"Sid": "ObjectAccess",
# 			"Effect": "Allow",
# 			"Action": [
# 				"s3:PutObject",
# 				"s3:GetObject",
# 				"s3:DeleteObject"
# 			],
# 			"Resource": [
# 				"arn:aws:s3:::[your bucket identifier for parsed documents]/*",
# 				"arn:aws:s3:::[your bucket identifier for raw documents]/*"
# 			]
# 		},
# 		{
# 			"Sid": "BucketListAccess",
# 			"Effect": "Allow",
# 			"Action": "s3:ListBucket",
# 			"Resource": [
# 				"arn:aws:s3:::[your bucket identifier for parsed documents]",
# 				"arn:aws:s3:::[your bucket identifier for raw documents]"
# 			]
# 		}
# 	]
# }